
import java.net.NetworkInterface;

import com.sun.jini.config.ConfigUtil;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.ConnectionRelativeTime;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.LookupDiscoveryManager;

import com.bigdata.util.config.NicUtil;
import com.bigdata.util.config.ConfigDeployUtil;

com.bigdata.quorum {

    private static exportNic = 
        System.getProperty("exportNic", 
                           ConfigDeployUtil.getString("node.serviceNetwork"));
    private static exportIpAddr = NicUtil.getIpAddress(exportNic);
    private static exportPort = 
        Integer.parseInt( System.getProperty("exportPort", "0") );

    groupsToJoin = ConfigDeployUtil.getGroupsToDiscover();
    locatorsToJoin = ConfigDeployUtil.getLocatorsToDiscover();

    private static exporterTcpServerEndpoint = 
        TcpServerEndpoint.getInstance(exportIpAddr, exportPort);
    private static serverILFactory =
        new BasicILFactory(
            new BasicMethodConstraints(
                new InvocationConstraints(
                    new ConnectionRelativeTime(
                        ConfigDeployUtil.getLong(
                            "rmi.connectTimeout")),
                    null)),
            null);

    serverExporter = 
        new BasicJeriExporter
            (TcpServerEndpoint.getInstance(exportIpAddr,exportPort),
                                           serverILFactory,
                                           false,
                                           true);

    static discoveryManager = new LookupDiscoveryManager(groupsToJoin,
                                                         locatorsToJoin,
                                                         null,
                                                         this);
    // Where service state is persisted
    persistenceDirectory = 
        ConfigUtil.concat
            ( new String[] { System.getProperty("app.home", "${user.dir}"), 
                             "${/}var${/}state${/}quorumState" } );

    zookeeperDataDir        = "data";
    zookeeperDataLogDir     = "data.log";
    zookeeperClientPort     = new Integer(2181);
    zookeeperTickTime       = new Integer(2000);
    zookeeperInitLimit      = new Integer(5);
    zookeeperSyncLimit      = new Integer(2);
    zookeeperElectionAlg    = new Integer(3);//0 = udp, 3 = tcp
    zookeeperMaxClientCnxns = new Integer(10);

    // If standard zookeeper config is specified,
    // it will override river config; for example,
    //zookeeperConfigFile = 
    //    "${user.home}${/}tmp${/}zookeeper${/}conf${/}test-zookeeper-q3.cfg";
}

net.jini.discovery.LookupDiscovery {
    multicastRequestHost = com.bigdata.quorum.exportIpAddr;
    multicastInterfaces = new NetworkInterface[] {
        NicUtil.getNetworkInterface(com.bigdata.quorum.exportNic)
    };
}

net.jini.lookup.ServiceDiscoveryManager {
    eventListenerExporter = 
        new BasicJeriExporter
            (com.bigdata.quorum.exporterTcpServerEndpoint,
             com.bigdata.quorum.serverILFactory, false, false);
}
