
import java.net.NetworkInterface;

import com.sun.jini.config.ConfigUtil;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.ConnectionRelativeTime;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.LookupDiscoveryManager;

import org.apache.zookeeper.ZooDefs;
import org.apache.zookeeper.data.ACL;
import org.apache.zookeeper.data.Id;

import com.bigdata.util.config.NicUtil;
import com.bigdata.util.config.ConfigDeployUtil;

com.bigdata.metadata {

    // for exporting the service

    private static serverExporterIpAddr = 
        NicUtil.getIpAddress("default.nic", ConfigDeployUtil.getString("node.serviceNetwork"), false);
    private static serverExporterPort = 
        Integer.parseInt( System.getProperty("exportPort", "0") );
    private static serverEnableDgc = false;
    private static serverKeepAlive = true;
    private static serverExporterTcpServerEndpoint = 
        TcpServerEndpoint.getInstance(serverExporterIpAddr, serverExporterPort);

    // for exporting remote futures

    private static futureExporterIpAddr = 
        NicUtil.getIpAddress("default.nic", ConfigDeployUtil.getString("node.dataNetwork"), false);
    private static futureExporterPort = 0;
    private static futureEnableDgc = true;
    private static futureKeepAlive = false;
    private static futureExporterTcpServerEndpoint = 
        TcpServerEndpoint.getInstance(futureExporterIpAddr, futureExporterPort);

    //shared by both exporters

    private static serverILFactory =
        new BasicILFactory(
            new BasicMethodConstraints(
                new InvocationConstraints(
                    new ConnectionRelativeTime(
                        ConfigDeployUtil.getLong(
                            "rmi.connectTimeout")),
                    null)),
            null);

    serverExporter = 
        new BasicJeriExporter
            (serverExporterTcpServerEndpoint,
             serverILFactory,
             serverEnableDgc,
             serverKeepAlive);
    futureExporter = 
        new BasicJeriExporter
            (futureExporterTcpServerEndpoint,
             futureILFactory,
             futureEnableDgc,
             futureKeepAlive);

    groupsToJoin = ConfigDeployUtil.getGroupsToDiscover();
    locatorsToJoin = ConfigDeployUtil.getLocatorsToDiscover();

    static discoveryManager = new LookupDiscoveryManager(groupsToJoin,
                                                         locatorsToJoin,
                                                         null,
                                                         this);
    // Where service state is persisted
    persistenceDirectory = 
        ConfigUtil.concat
            ( new String[] { System.getProperty("app.home", "${user.dir}"), 
                             "${/}var${/}state${/}shardlocatorState" } );
}

net.jini.discovery.LookupDiscovery {
    multicastRequestHost = com.bigdata.metadata.serverExporterIpAddr;
    multicastInterfaces = new NetworkInterface[] {
        NicUtil.getNetworkInterface(com.bigdata.metadata.serverExporterIpAddr)
    };
}

net.jini.lookup.ServiceDiscoveryManager {
    eventListenerExporter = 
        new BasicJeriExporter
            (com.bigdata.metadata.serverExporterTcpServerEndpoint,
             com.bigdata.metadata.serverILFactory, false, false);
}

org.apache.zookeeper.ZooKeeper {

    zroot = ConfigDeployUtil.getString("federation.name");

    acl = new ACL[] {
	new ACL(ZooDefs.Perms.ALL, new Id("world", "anyone"))
    };
}
