
/* Configuration to supply to the Jini ServiceStarter
 * when starting the Jini lookup service.
 */
import com.bigdata.util.config.ConfigDeployUtil;
import com.bigdata.util.config.ConfigurationUtil;

import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import net.jini.core.discovery.LookupLocator;

com.sun.jini.start {

    private static codebaseHost = 
        System.getProperty("bigdata.codebase.host", 
                           ConfigDeployUtil.getString("node.serviceNetwork"));
    private static codebasePort = 
        System.getProperty("bigdata.codebase.port", "9000"); 
    private static codebaseRootDir = 
        System.getProperty("bigdata.codebase.rootDir", "lib-dl");

    private static appHome = System.getProperty("appHome", ".");
    private static configDir = 
        System.getProperty("bigdata.configDir", "var${/}config");

    private static jskCodebase = 
        ConfigurationUtil.computeCodebase
            ( codebaseHost, "jsk-dl.jar",
              Integer.parseInt(codebasePort), codebaseRootDir,
              "none" );

    private static reggieServerCodebase = 
        ConfigurationUtil.computeCodebase
            ( codebaseHost, "reggie-dl.jar",
              Integer.parseInt(codebasePort), codebaseRootDir,
              "none" );

    private static reggieCodebase = 
        ConfigUtil.concat( new String[] { reggieServerCodebase, " ", jskCodebase } );

    private static reggiePolicyFile = 
        ConfigUtil.concat( new String[] { appHome, "${/}", configDir, "${/}",
                                          "policy", "${/}", "service.policy" } );

    private static reggieClasspath =
        ConfigUtil.concat( new String[] { appHome, "${/}", "lib", "${/}", "reggie.jar" } );
    private static reggieImplName = "com.sun.jini.reggie.TransientRegistrarImpl";
    private static reggieConfig = 
        ConfigUtil.concat( new String[] { appHome, "${/}", configDir,"${/}",
                                          "jini", "${/}", "reggie.config" } );

    private static reggieArgsArray = new String[] { reggieConfig };

    private static reggieDescriptor = new NonActivatableServiceDescriptor(
        reggieCodebase, reggiePolicyFile, reggieClasspath,
        reggieImplName, reggieArgsArray);

    serviceDescriptors = new ServiceDescriptor[] {
        reggieDescriptor
    };

}